<li class="nav-item">
    <a class="nav-link" href="index.html">
      <span class="menu-title">Anasayfa</span>
      <i class="mdi mdi-home menu-icon"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
      <span class="menu-title">Hizmetler</span>
      <i class="menu-arrow"></i>
      <i class="mdi mdi-crosshairs-gps menu-icon"></i>
    </a>
    <div class="collapse" id="ui-basic">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Hizmet Talepleri</a></li>
        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Manuel Talep Oluştur</a></li>
        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Oluşturulmuş Raporlar</a></li>
        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Talepsiz Rapor Oluştur</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
      <span class="menu-title">Antivirüsler</span>
      <i class="menu-arrow"></i>
      <i class="mdi mdi-crosshairs-gps menu-icon"></i>
    </a>
    <div class="collapse" id="ui-basic">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Tüm Antivirüsler</a></li>
        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Antivirüs Ekle</a></li>
      </ul>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
      <span class="menu-title">Teklifler</span>
      <i class="menu-arrow"></i>
      <i class="mdi mdi-crosshairs-gps menu-icon"></i>
    </a>
    <div class="collapse" id="ui-basic">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Teklif Oluştur</a></li>
        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Tüm Teklifler</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pages/icons/mdi.html">
      <span class="menu-title">Duyuru Gönder</span>
      <i class="mdi mdi-contacts menu-icon"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pages/forms/basic_elements.html">
      <span class="menu-title">Memnuniyetler</span>
      <i class="mdi mdi-format-list-bulleted menu-icon"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pages/charts/chartjs.html">
      <span class="menu-title">Fatura Edilecekler</span>
      <i class="mdi mdi-chart-bar menu-icon"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
      <span class="menu-title">Müşteriler</span>
      <i class="menu-arrow"></i>
      <i class="mdi mdi-medical-bag menu-icon"></i>
    </a>
    <div class="collapse" id="general-pages">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="/pages/samples/blank-page.html"> Tüm Müşteriler </a></li>
        <li class="nav-item"> <a class="nav-link" href="/pages/samples/login.html"> Müşteri Ekle </a></li>
        <li class="nav-item"> <a class="nav-link" href="/pages/samples/register.html"> Kullanıcı Ekle </a></li>
        <li class="nav-item"> <a class="nav-link" href="/pages/samples/error-404.html"> Tüm Kullanıcılar </a></li>
      </ul>
    </div>
  </li>
  <!-- <li class="nav-item sidebar-actions">
    <span class="nav-link">
      <div class="border-bottom">
        <h6 class="font-weight-normal mb-3">Projects</h6>
      </div>
      <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add a project</button>
      <div class="mt-4">
        <div class="border-bottom">
          <p class="text-secondary">Categories</p>
        </div>
        <ul class="gradient-bullet-list mt-4">
          <li>Free</li>
          <li>Pro</li>
        </ul>
      </div>
    </span>
  </li> -->