<li class="nav-item">
    <a class="nav-link" href="home.php">
      <span class="menu-title">Anasayfa</span>
      <i class="mdi mdi-home menu-icon"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="all-antivirus.php" >
      <span class="menu-title">Antivirüsler</span>
      <i class="mdi mdi-crosshairs-gps menu-icon"></i>
    </a>
   
    
  <li class="nav-item">
    <a class="nav-link"  href="all-service-requests.php" >
      <span class="menu-title">Hizmet Talepleri </span>
      <i class="mdi mdi-crosshairs-gps menu-icon"></i>
    </a>
   
    <li class="nav-item">
      <a class="nav-link" href="add-manuel-service-report.php">
        <span class="menu-title">Manuel Rapor Oluştur</span>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="all-reports.php">
        <span class="menu-title">Oluşturulmuş Raporlar</span>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
    </li> 
  
    <li class="nav-item">
      <a class="nav-link" href="all-invoices.php">
        <span class="menu-title">Fatura Edilecekler</span>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
    </li> 
  
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title">Teklif Gönder</span>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title">Tüm Teklifler</span>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="live-chat.php">
        <span class="menu-title">Canlı Destek</span>
        <i class="mdi mdi-wechat menu-icon"></i>
      </a>
    </li>
  
  <!-- <li class="nav-item sidebar-actions">
    <span class="nav-link">
      <div class="border-bottom">
        <h6 class="font-weight-normal mb-3">Projects</h6>
      </div>
      <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add a project</button>
      <div class="mt-4">
        <div class="border-bottom">
          <p class="text-secondary">Categories</p>
        </div>
        <ul class="gradient-bullet-list mt-4">
          <li>Free</li>
          <li>Pro</li>
        </ul>
      </div>
    </span>
  </li> -->